body {
	font-family: Arial, Helvetica, sans-serif;
	background: #222; 
	color: #333;
	margin: 0;
	padding: 0;
	line-height: 140%;
	font-size: 12px;
	text-align: center;
}
a img {
	border: none;
}
#container {
	position: relative;
	margin: 0 auto;
	width: 870px;
	margin-top: 30px;
	text-align: left;
	padding-bottom: 250px;
}

h1 {
	color: #fff;
	font-size: 36px;
	text-shadow: #000 0px 0px 7px;
}

h2 {
	color: #E01B49;
	background: #333 url(../images/h2bg.gif) repeat-x;
	padding: 8px;
	padding-bottom: 7px;
	opacity: 0.9;
	
	border: 1px #000 solid;
	-moz-border-radius: 3px;
	border-radius: 3px;
	
	font-size: 16px;
	
	-webkit-box-shadow:0 0 5px #888; 
	-moz-box-shadow: 0 0 5px #888; 
	box-shadow:0 0 5px #888;
	
	margin-top: 40px;
}

.box {
	background: #fff;
	padding: 8px;
	overflow: hidden;
	opacity: 0.9;
	
	border: 1px #000 solid;
	-moz-border-radius: 3px;
	border-radius: 3px;
	
	-webkit-box-shadow:0 0 5px #aaa; 
	-moz-box-shadow: 0 0 5px #aaa; 
	box-shadow:0 0 5px #aaa;
}

#footer {
	margin-top: 60px;
}

#footer div {
	margin-top: 15px;
	background: #333 url(../images/h2bg.gif) repeat-x;
	padding: 8px;
	overflow: hidden;
	opacity: 0.9;
	
	color: #fff;
	font-weight: bold;
	font-size: 14px;
	
	border: 1px #000 solid;
	-moz-border-radius: 3px;
	border-radius: 3px;
	
	-webkit-box-shadow:0 0 5px #aaa; 
	-moz-box-shadow: 0 0 5px #aaa; 
	box-shadow:0 0 5px #aaa;
}

#footer a {
	margin-left: 20px;
	color: #E01B49;
	text-decoration: none;
}

#footer a:hover {
	color: #fff;
}

p.note {
	background: #E01B49;
	color: #fff;
	padding: 8px;
	overflow: hidden;
	opacity: 0.9;
	
	font-weight: bold;
	font-size: 13px;
	
	border: 1px #000 solid;
	-moz-border-radius: 3px;
	border-radius: 3px;
	
	-webkit-box-shadow:0 0 5px #aaa; 
	-moz-box-shadow: 0 0 5px #aaa; 
	box-shadow:0 0 5px #aaa;
}

p.info {
	color: #ccc;
	overflow: hidden;
	font-size: 12px;
}

h4 {
	margin: 0px;
	padding: 0px;
	color: #ccc;
	float: left;
}

li.odd {
	color: #f30;
}
li.even {
	color: #03f;
}

ul.options, ul.options li {
	color: #ddd;
	list-style: none;
	padding: 0px;
	margin: 0px;
}

ul.options {
	padding-left: 80px;
	margin-bottom: 12px;
}

ul.options li {
	margin-bottom: 6px;
}

ul.options strong {
	color: #eee;
	margin-right: 6px;
}

ul.options span {
	background: #222;
	color: #ccc;
	padding: 5px;
	padding-top: 1px;
	padding-bottom: 1px;
	
	border: 1px #444 solid;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

ul.options span.default {
	color: #3a3;
}

pre {
	background: #fdfff6;
	color: #181;
	padding: 6px;
	padding-bottom: 5px;
	margin: 0px;
	margin-bottom: 12px;
	display: block;
	
	opacity: 0.9;
	
	border: 1px #392 solid;
	-moz-border-radius: 3px;
	border-radius: 3px;
	
	-webkit-box-shadow:0 0 5px #aaa; 
	-moz-box-shadow: 0 0 5px #aaa; 
	box-shadow:0 0 5px #aaa;
	
	font-size: 11px;
	
	white-space: pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word;
	overflow-wrap: break-word;
}

pre span {
	color: #E01B49;
}

div.carousel {
	overflow: hidden;
	pointer-events: none;
}

div.carousel-item {
	float: left;
	width: 130px;
	height: 150px;
	background: #E01B49;
	margin: 10px;
	padding: 10px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	line-height: 200%;
}

a.jkit-carousel-prev, a.jkit-carousel-next {
	width: 40px;
	background: #eee;
	border: 1px #999 solid;
	color: #333;
	padding: 4px;
	cursor: pointer;
	cursor: hand;
	margin: 5px;
	text-align: center;
	user-select: none;
}

a.jkit-carousel-prev:hover, a.jkit-carousel-next:hover {
	background: #fff;
	border: 1px #666 solid;
	color: #000;
}

a.jkit-carousel-prev {
	float: left;
	margin-left: 10px;
}

a.jkit-carousel-next {
	float: right;
	margin-right: 10px;
}

div#jkit-tooltip {
	padding: 4px;
	padding-left: 8px;
	padding-right: 8px;
	position: fixed;
}

div.jkit-chart {
	width: 100%;
	border-left: 1px #000 dotted;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 1px;
}

div.jkit-chart label {
	padding-left: 2px;
	font-weight: bold;
}

div.jkit-chart > div.jkit-chart-step {
	width: 100%;
	margin-bottom: 8px;
}

div.jkit-chart > div.jkit-chart-step > div.jkit-chart-plot {
	position: relative;
	background: #f8f8f8;
	margin-right: 6px;
	padding-right: 4px;
}

div.jkit-chart > div.jkit-chart-step > div.jkit-chart-plot:hover {
	background: #eee;
}

div.jkit-chart > div.jkit-chart-step > div.jkit-chart-plot > span.jkit-chart-info {
	display: block;
	position: absolute;
	right: 4px;
	top: 4px;
	color: #000;
	font-size: 10px;
}

div.jkit-chart > div.jkit-chart-step > div.jkit-chart-plot > div {
	width: 0%;
	margin-bottom: 2px;
	text-align: left;
	font-size: 10px;
	color: #000;
	padding: 2px;
	padding-top: 3px;
	overflow: hidden;
}

div.jkit-chart > div.jkit-chart-step > div.jkit-chart-plot0 > div {
	background: #c4e1ec;
}

div.jkit-chart > div.jkit-chart-step > div.jkit-chart-plot0:hover > div {
	background: #78cae9;
}

div.jkit-chart > div.jkit-chart-step > div.jkit-chart-plot1 > div {
	background: #ff9999;
}

div.jkit-chart > div.jkit-chart-step > div.jkit-chart-plot1:hover > div {
	background: #fd6565;
}

div.jkit-morediv {
	position: absolute;
	bottom: 0px;
	left: 0px;
	height: 16px;
	background: #fff;
	text-align: center;
}

div#jkit-lightbox-bg {
	display: none;
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: 10000;
	width: 100%;
	height: 100%;
	background: #000;
}

div#jkit-lightbox-content {
	display: none;
	position: fixed;
	border: none;
	left: 10%;
	top: 100px;
	z-index: 10001;
	width: 80%;
	height: 80%;
	background: #fff;
	padding: 10px;
}

div#jkit-lightbox-title {
	display: none;
	position: fixed;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	height: 20px;
	left: 0px;
	top: 0px;
	z-index: 10002;
	text-align: left;
}

div#jkit-lightbox-nav {
	display: none;
	position: fixed;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	height: 20px;
	left: 0px;
	top: 0px;
	z-index: 10003;
	text-align: right;
	width: 50px;
	cursor: pointer;
	cursor: hand;
}

span#jkit-lightbox-nav-next {
	margin-right: 20px;
}

span#jkit-lightbox-nav-prev {
	margin-right: 10px;
}

#mytabs > ul, #mytabs > ul li {
	list-style: none;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}
#mytabs > ul li {
	float: left;
	margin-left: 10px;
	padding: 3px;
	padding-bottom: 1px;
	padding-left: 16px;
	padding-right: 16px;
	background: #eee;
	color: #000;
}
#mytabs > ul li.active, #mytabs > ul li:hover {
	background: #E01B49;
	color: #fff;
}
#mytabs > div {
	border-top: 1px #E01B49 solid;
	padding-top: 8px;
}

#myaccordion > ul {
	width: 100%;
}
#myaccordion > ul, #myaccordion > ul li {
	list-style: none;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}
#myaccordion > ul li {
	margin-bottom: 1px;
	color: #333;
}
#myaccordion > ul li h3 {
	background: #ddd;
	color: #000;
	margin: 0px;
	padding: 12px;
	padding-top: 8px;
	padding-bottom: 6px;
	border-bottom: 1px #fff solid;
	cursor: pointer;
	cursor: hand;
}
#myaccordion > ul li h3.active, #myaccordion > ul li h3:hover {
	background: #E01B49;
	color: #fff;
}
#myaccordion > ul > li > div {
	padding-top: 8px;
	padding-bottom: 8px;
}
fieldset {
	float: left;
	width: 400px;
	border: 1px #ccc dotted;
	margin-bottom: 8px;
}
.error {
	border: 2px #f00 solid;
}
form.error {
	border: none;
}
span.error {
	border: none;
	color: #f00;
	padding-left: 8px;
}
input.hint {
	color: #aaa;
}
div.time-picker {
  position: absolute;
  height: 191px;
  width:6em; /* needed for IE */
  overflow: auto;
  background: #fff;
  border: 1px solid #aaa;
  z-index: 99;
  margin: 0;
}
div.time-picker-12hours {
  width:6em; /* needed for IE */
}

div.time-picker ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
div.time-picker li {
  cursor: pointer;
  height: 10px;
  font: 12px/1 Helvetica, Arial, sans-serif;
  padding: 4px 3px;
}
div.time-picker li.selected {
  background: #0063CE;
  color: #fff;
}
p.success {
	font-size: 18px;
	font-weight: bold;
	color: #f00;
}

#bg {
	position: fixed;
}

div.jkit-gallery-thumbs img {
	float: left;
	margin-top: 6px;
	margin-right: 6px;
	width: 136px;
	height: 40px;
	border: 2px #000 solid;
}

div.jkit-gallery-thumbs img.active {
	border: 2px #E01B49 solid;
}

#navigation li {
	display:block;
	float:left;
	list-style:none;
	margin: 0px;
	margin-bottom: 14px;
	margin-right: 4px;
}
#navigation {
	margin:0px;
	padding:0px;
}
#navigation a {
	background-color: #fff;
	color:#E01B49;
	margin-right:5px;
	padding:3px;
	padding-left:10px;
	padding-right:10px;
	
	font-weight: bold;
	text-decoration: none;
	letter-spacing: 1px;
	
	border: 1px #000 solid;
	-moz-border-radius: 3px;
	border-radius: 3px;
	
	-webkit-box-shadow:0 0 5px #aaa; 
	-moz-box-shadow: 0 0 5px #aaa; 
	box-shadow:0 0 5px #aaa;
}

#navigation a:hover {
	background-color:#E01B49;
	color:#fff;
}

#navigation a.active {
	background-color:#ddd;
	color:#cb0233;
}

div.animation-container {
	position: relative;
	width: 100%;
	height: 250px;
	background: #333;
	font-family: "Arial Black", Arial, sans;
	letter-spacing: 2px;
}
div.animation-container div.animation {
	height: 250px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
}

div.parallax-container {
	position: relative;
	width: 100%;
	height: 250px;
	overflow: hidden;
	background: #333;
}
div.parallax-container div.parallax {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 2500px;
	text-align: center;
	height: 250px;
	font-weight: bold;
}
.parallax1 {
	color: #555;
	font-size: 250px;
	line-height: 80%;
}
.parallax2 {
	color: #999;
	font-size: 100px;
	line-height: 320%;
}
.parallax3 {
	color: #fff;
	font-size: 50px;
	line-height: 760%;
}

#download {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 300px;
	height: 30px;
	text-align: right;
	font-size: 13px;
}
#download a {
	text-decoration: none;
	color: #3a3;
}
#download a:hover {
	text-decoration: none;
	color: #6c6;
}
#download a span {
	font-size: 18px;
	color: #fff;
	font-weight: normal;
}

.mytooltip {
	background: #333;
	color: #fff;
	padding: 6px;
	padding-bottom: 5px;
	
	opacity: 0.9;
	
	border: 1px #E01B49 solid;
	-moz-border-radius: 3px;
	border-radius: 3px;
	
	-webkit-box-shadow:0 0 5px #aaa; 
	-moz-box-shadow: 0 0 5px #aaa; 
	box-shadow:0 0 5px #aaa;
}


ul.myul, ul.myul li {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.mylist {
	position: relative;
	background: #000;
	padding: 8px;
	margin-bottom: 4px;
	color: #fff;
	border-left: 8px #E01B49 solid;
}
.mylist span.entrynumber {
	color: #D9ED9D;
	font-size: 10px;
}
.mylist h3 {
	background: #333;
	margin: 0px;
	padding: 8px;
}
.mylist h3 div {
	float: right;
	font-size: 9px;
}
.mylist p {
	padding: 8px;
}
.mylist p span {
	color: #ccc;
}
.mylist > div {
	position: absolute;
	bottom: 2px;
	right: 2px;
	width: 10px;
	height: 10px;
	background: #bbb;
	text-align: center;
	color: #000;
}

ul.dropdown,
ul.dropdown li,
ul.dropdown ul {
 list-style: none;
 margin: 0;
 padding: 0;
}

ul.dropdown {
 position: relative;
 z-index: 597;
 float: left;
}

ul.dropdown li {
 float: left;
 min-height: 1px;
 line-height: 1.3em;
 vertical-align: middle;
}

ul.dropdown li.hover,
ul.dropdown li:hover {
 position: relative;
 z-index: 599;
 cursor: default;
}

ul.dropdown ul {
 visibility: hidden;
 position: absolute;
 top: 100%;
 left: 0;
 z-index: 598;
 width: 100%;
}

ul.dropdown ul li {
 float: none;
}

ul.dropdown ul ul {
 top: 1px;
 left: 99%;
}

ul.dropdown li:hover > ul {
 visibility: visible;
}

ul.dropdown-vertical {
 width: 200px;
}

ul.dropdown-vertical ul {
 top: 1px;
 left: 99%;
}

ul.dropdown-vertical li {
 float: none;
}

ul.dropdown-vertical-rtl {
 float: right;
}

ul.dropdown-vertical-rtl ul,
ul.dropdown-horizontal > li.dropdown-vertical-rtl ul ul {
 left: auto !important;
 right: 99%;
}

ul.dropdown-horizontal li.dropdown-vertical-rtl ul {
 left: auto;
 right: 0;
}

ul.dropdown-vertical-rtl li,
li.dropdown-vertical-rtl li {
 text-align: right;
}

ul.dropdown {
 font-weight: bold;
}

ul.dropdown li {
 padding: 7px 10px;
 border-style: solid;
 border-width: 1px 1px 1px 0;
 border-color: #fff #d9d9d9 #d9d9d9;
 background-color: #f6f6f6;
 color: #000;
}

ul.dropdown li.hover,
ul.dropdown li:hover,
ul.dropdown li.on {
 background-color: #eee;
 color: #000;
}

ul.dropdown a:link,
ul.dropdown a:visited	{ color: #000; text-decoration: none; }
ul.dropdown a:hover		{ color: #000; }
ul.dropdown a:active	{ color: #ffa500; }

/* -- level mark -- */

ul.dropdown ul {
 width: 150px;
 margin-top: 1px;
}

ul.dropdown ul li {
 font-weight: normal;
}

/* -- Components override -- */

ul.dropdown-horizontal ul *.dir {
 padding-right: 15px;
 background-image: url(../../../../images/default/nav-arrow-right.png);
 background-position: 100% 50%;
 background-repeat: no-repeat;
}

ul.dropdown-upward *.dir {
 background-image: url(../../../../images/default/nav-arrow-top.png);
}

ul.dropdown-vertical *.dir,
ul.dropdown-upward ul *.dir {
 background-image: url(../../../../images/default/nav-arrow-right.png);
}

ul.dropdown-vertical-rtl *.dir,
ul.dropdown-horizontal > li.dropdown-vertical-rtl ul *.dir {
 padding-right: 10px;
 padding-left: 15px;
 background-image: url(../../../../images/default/nav-arrow-left.png);
 background-position: 2px 50%;
}

table thead tr th {
	background: #333;
	color: #eee;
	cursor: pointer;
	cursor: hand;
}
table thead tr th:hover {
	background: #000;
	color: #fff;
}
th.jkit-sort-up, th.jkit-sort-up:hover {
	background: #800909;
}
th.jkit-sort-down, th.jkit-sort-down:hover {
	background: #858F4C;
}